section.homepage-press
    .container
        .homepage-press__title.section-h2 Пресс-центр
        .homepage-press__items.js-homepage-press__items.splide
            .splide__track

                -
                    var list = [

                        {
                            image: "img/home/press-1",
                            date: "31 января 2022",
                            name: "«Тосол-Синтез» на международной выставке Automechanika Dubai 2021",
                            desc: "Компания «Тосол-Синтез» представила бренд FELIX международной выставке автомобильной промышленности Automechanika Dubai 2021. Выставка прошла во Всемирном торговом центре Дубая в декабре 2021 года."
                        },

                        {
                            image: "img/home/press-2",
                            date: "31 января 2022",
                            name: "Чем заменить импортные OEM-антифризы?",
                            desc: "В данной статье предлагаем вашему вниманию линейку антифризов FELIX, которые на 100% могут заменить оригинальные жидкости практически для любого автомобиля. Рассмотрим преимущества, и предоставим две таблицы: с соответствием импортных брендов к линейке FELIX и подробную таблицу применяемости по марке авто."
                        },

                        {
                            image: "img/home/press-3",
                            date: "31 января 2022",
                            name: "Конференция региональных менеджеров - 2022",
                            desc: "С 13 по 15 апреля компания «Тосол-Синтез» провела ежегодную конференцию региональных менеджеров, в которой приняли участие более 50 сотрудников компании из России и СНГ. В ходе конференции обсудили тенденции развития в текущей экономической ситуации, подвели итоги."
                        },

                    ]

                ul.splide__list
                    each item in list
                        li.splide__slide.homepage-press__item
                            a(href="#").homepage-press__item-image
                                picture
                                    source(srcset=item.image + ".webp" type="image/webp")
                                    img.lazyload(loading="lazy" data-src=item.image + ".jpg")
                            .homepage-press__item-content
                                .homepage-press__item-date=item.date
                                a(href="#").homepage-press__item-name=item.name
                                .homepage-press__item-desc=item.desc
        .homepage-press__all
            a(href="#").btn.btn-primary Все публикации