section.dist-block
    .container
        .dist-block__text
            .dist-block__title.section-h2 Хочу стать дистрибьютором
            .dist-block__caption.section-h5 Оставьте заявку на сотрудничество. Вы обязательно получите ответ!
        form.dist-block__form
            .form__field
                .select
                    select(name="")
                        option(value="Выберите продукт" selected) Выберите продукт
                        option(value="Продукт") Продукт
            .form__submit
                button.btn.btn-white Отправить