section.aboutpage-dealers
    .container
        .aboutpage-dealers__title.section-h2 Обширная дилерская и дистрибьюторская сеть
        .aboutpage-dealers__caption Доля "Тосол-Синтез" на рынке тормозных жидкостей в Европе, Африке, Латинской Америке и на Ближнем Востоке
        .aboutpage-dealers__content
            .aboutpage-dealers__items
                .aboutpage-dealers__item
                    .aboutpage-dealers__item-name Латинская Америка
                    .aboutpage-dealers__item-percantage
                        .aboutpage-dealers__item-line(style="width: calc(25%)")
                        .aboutpage-dealers__item-percent 25%
                .aboutpage-dealers__item
                    .aboutpage-dealers__item-name Азия
                    .aboutpage-dealers__item-percantage
                        .aboutpage-dealers__item-line(style="width: calc(10%)")
                        .aboutpage-dealers__item-percent 10%
                .aboutpage-dealers__item
                    .aboutpage-dealers__item-name Европа
                    .aboutpage-dealers__item-percantage
                        .aboutpage-dealers__item-line(style="width: calc(36%)")
                        .aboutpage-dealers__item-percent 36%
                .aboutpage-dealers__item
                    .aboutpage-dealers__item-name Африка и Ближний Восток
                    .aboutpage-dealers__item-percantage
                        .aboutpage-dealers__item-line(style="width: calc(29%)")
                        .aboutpage-dealers__item-percent 29%
            .aboutpage-dealers__image: img.lazyload(data-src="img/about/map.svg" loading="lazy")

