include ../../components/burger/burger
include header-menu
header.header.header-with--bg.js-header
    .container
        a(href="/").header__logo: img(src="/img/logo.svg")
        .header__nav
            +header-menu()
        .header__feedback
            a(href="#").btn.btn-primary Вопросы по сотрудничеству
        .header__burger.js-header__burger: include ../../../img/svg/ic_menu.svg
        .header__search.js-header__search
            form.header__search-form.js-header__search-form
                input(type="search" name="search" placeholder="Поиск по сайту")
            .header__search-toggle.js-header__search-toggle: include ../../../img/svg/ic_search.svg
        .header__links
            a(href="#").header__links-link.header__links-phone: include ../../../img/svg/ic_phone.svg
            a(href="#").header__links-link.header__links-profile: include ../../../img/svg/ic_user.svg
        .header__lang
            .header__lang-icon: include ../../../img/svg/ic_language.svg
            .header__lang-choose
                +select({
                    data: ["RU", "RU", "EN"]
                })