include ../../components/burger/burger
header.header
    .container
        a(href="/").header__logo: include ../../../img/logo.svg
        .header__nav
            ul.header__nav-list
                li.header__nav-item.has-submenu
                    a(href="#").header__nav-link О компании
                    ul.header__nav-submenu
                        li.header__nav-item: a(href="#").header__nav-link О нас
                        li.header__nav-item: a(href="#").header__nav-link История предприятия
                        li.header__nav-item: a(href="#").header__nav-link География
                        li.header__nav-item: a(href="#").header__nav-link Лаборатория
                        li.header__nav-item: a(href="#").header__nav-link Логистический центр
                        li.header__nav-item: a(href="#").header__nav-link Вакансии
                li.header__nav-item
                    a(href="#").header__nav-link Продукция
                li.header__nav-item
                    a(href="#").header__nav-link Основы развития
                li.header__nav-item
                    a(href="#").header__nav-link Пресс-центр
                li.header__nav-item
                    a(href="#").header__nav-link Сотрудничество
                li.header__nav-item
                    a(href="#").header__nav-link Контакты
        .header__feedback
            a(href="#").btn.btn-primary Вопросы по сотрудничеству
        .header__burger: include ../../../img/svg/ic_menu.svg
        .header__search
            form.header__search-form
                input(type="search" name="search" placeholder="Поиск по сайту")
            .header__search-toggle: include ../../../img/svg/ic_search.svg
        .header__links
            a(href="#").header__links-link.header__links-phone: include ../../../img/svg/ic_phone.svg
            a(href="#").header__links-link.header__links-profile: include ../../../img/svg/ic_user.svg
        .header__lang
            .header__lang-icon: include ../../../img/svg/ic_language.svg
            .header__lang-choose
                +select({
                    data: ["RU", "RU", "EN"]
                })