.aboutpage-quality
    .container
        .aboutpage-quality__title.section-h2 5-ступенчатый контроль качества
        .aboutpage-quality__caption Обеспечиваем гарантированное качество и безопасность выпускаемой продукции на всех стадиях процесса производства
        .aboutpage-quality__items
            .aboutpage-quality__item
                .aboutpage-quality__item-icon: img.lazyload(data-src="img/about/Frame.svg" loading="lazy")
                .aboutpage-quality__item-caption выбор поставщиков <br>сырья
            .aboutpage-quality__item
                .aboutpage-quality__item-icon: img.lazyload(data-src="img/about/Frame-1.svg" loading="lazy")
                .aboutpage-quality__item-caption контроль качества <br>сырья
            .aboutpage-quality__item
                .aboutpage-quality__item-icon: img.lazyload(data-src="img/about/Frame-2.svg" loading="lazy")
                .aboutpage-quality__item-caption контроль технологических <br>процессов
            .aboutpage-quality__item
                .aboutpage-quality__item-icon: img.lazyload(data-src="img/about/Frame-3.svg" loading="lazy")
                .aboutpage-quality__item-caption контроль качества <br>на выходе готовой партии
            .aboutpage-quality__item
                .aboutpage-quality__item-icon: img.lazyload(data-src="img/about/Frame-4.svg" loading="lazy")
                .aboutpage-quality__item-caption контроль продукции <br>на полке