section.quest-block
    .container
        .quest-block__text
            .quest-block__title.section-h2 Остались вопросы?
            .quest-block__caption.section-h5 Напишите нам на почту! Вы обязательно получите ответ!
        .quest-block__link
          a(href="#").btn.btn-white Написать на почту