section.certificates-block.splide
    .container
        .certificates-block__title.section-h2 Сертификаты и лицензии
        .certificates-block__arrows.splide__arrows.slider-nav
            button.certificates-block__arrow.slider-nav__arrow.splide__arrow.splide__arrow--prev
                include ../../../../img/svg/ic_arrow-left.svg
            button.certificates-block__arrow.slider-nav__arrow.splide__arrow.splide__arrow--next
                span Далее
                include ../../../../img/svg/ic_arrow-right.svg
        .splide__track
            ul.splide__list
                li.splide__slide.certificates-block__slide
                    a(href="img/about/cert-1.jpg" data-fslightbox="cert").certificates-block__slide-link
                        picture
                            source(srcset="img/about/cert-1.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/about/cert-1.jpg")
                li.splide__slide.certificates-block__slide
                    a(href="img/about/cert-2.jpg" data-fslightbox="cert").certificates-block__slide-link
                        picture
                            source(srcset="img/about/cert-2.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/about/cert-2.jpg")
                li.splide__slide.certificates-block__slide
                    a(href="img/about/cert-3.jpg" data-fslightbox="cert").certificates-block__slide-link
                        picture
                            source(srcset="img/about/cert-3.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/about/cert-3.jpg")
                li.splide__slide.certificates-block__slide
                    a(href="img/about/cert-4.jpg" data-fslightbox="cert").certificates-block__slide-link
                        picture
                            source(srcset="img/about/cert-4.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/about/cert-4.jpg")
                li.splide__slide.certificates-block__slide
                    a(href="img/about/cert-5.jpg" data-fslightbox="cert").certificates-block__slide-link
                        picture
                            source(srcset="img/about/cert-5.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/about/cert-5.jpg")
                li.splide__slide.certificates-block__slide
                    a(href="img/about/cert-6.jpg" data-fslightbox="cert").certificates-block__slide-link
                        picture
                            source(srcset="img/about/cert-6.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/about/cert-6.jpg")