extends ../layouts/default-1
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug
include ../../blocks/modules/common/page-banner/page-banner


block variables
    - const title = "Главная"
block styles
block content

    +pageBanner({
        links: [
            {
                link: "/",
                text: "Главная",
            },
            {
                link: "/",
                text: "Логистический центр",
                isActive: true,
            },
        ],
        title: "Логистический центр",
        text: "Логистический центр ООО «Тосол-Синтез» – это структурное подразделение<br> компании «Тосол-Синтез», который включает в себя центральный склад и <br>автотранспортное подразделение. Другими словами, на этой площадке<br> выстраивается складская и транспортная логистика.",
        image: "img/logistic/banner"
    })

    section.logistic-block
        .container
            .logistic-block__text
                p Таким образом новая модель организационной деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Равным образом сложившаяся структура организации представляет собой интересный эксперимент проверки модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                p Равным образом рамки и место обучения кадров обеспечивает широкому кругу участие в формировании модели развития. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание направлений прогрессивного развития. Не следует, однако забывать, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке соответствующий условий активизации. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение направлений прогрессивного развития. С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.
                p Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! новая модель организационной деятельности требуют определения и уточнения существенных финансовых и административных условий.

            .logistic-block__numbers
                .logistic-block__number
                    .logistic-block__number-caption Общая площадь<br>предприятия
                    .logistic-block__number-value
                        strong
                            span 6200
                        span  квадратных метров
                .logistic-block__number
                    .logistic-block__number-caption Загрузка складских помещений автотранспортом
                    .logistic-block__number-value
                        strong
                            | до
                            span  500
                            |  тонн
                        span  продукции в месяц
                .logistic-block__number
                    .logistic-block__number-caption Загрузка складских помещений ж/д транспортом
                    .logistic-block__number-value
                        strong
                            | до
                            span  150
                            |  тонн
                        span  продукции в месяц

    include ../../blocks/modules/common/gallery-block/gallery-block

    include ../../blocks/modules/common/quest-block/quest-block

    
block scripts
    script(src="js/main.js")
    script(src="js/logistic.js")