extends ../layouts/default-1
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug
include ../../blocks/modules/common/page-banner/page-banner


block variables
    - const title = "Главная"
block styles
    link(rel="stylesheet" href="styles/materials.css")
block content

    .page-breadcrumbs
        .container
            +breadcrumb(
                [
                    {
                        link: "/",
                        text: "Главная",
                    },
                    {
                        link: "/",
                        text: "Обучающие материалы",
                        isActive: true,
                    },
                ]
            )

    section.homepage-materials.materials-block
        .container
            .homepage-materials__title.materials-block__title.section-h1 Обучающие материалы
            .materials-block__tags
                -
                    var items = [
                        {text: "Все", isActive: true},
                        {text: "Ремонт"},
                        {text: "Инструкции"},
                        {text: "Продукция"},
                        {text: "Автосервис"},
                        {text: "Ремонт"},
                        {text: "Инструкции"},
                        {text: "Продукция"},
                        {text: "Автосервис"},
                    ]

                each item in items
                    if item.isActive
                        a(href="#").materials-block__tag.is-active=item.text
                    else
                        a(href="#").materials-block__tag=item.text

            .homepage-materials__items.materials-block__items

                -
                    var list = [

                        {
                            image: "img/home/learn-1",
                            name: "Рекомендуемый порядок промывки системы охлаждения автомобиля",
                            tags: ["Ремонт", "Инструкции", "Автосервис", "Продукция", "Обучение"]
                        },

                        {
                            image: "img/home/learn-2",
                            name: "Тосол или антифриз? Что и как нужно выбирать",
                            tags: ["Продукция", "Автосервис"]
                        },

                        {
                            image: "img/home/learn-3",
                            name: "Тормозная жидкость. Когда пора менять и как выбрать?",
                            tags: ["Ремонт","Инструкции"]
                        },

                        {
                            image: "img/home/learn-4",
                            name: "Как правильно выбрать тормозные колодки",
                            tags: ["Продукция","Автосервис","Инструкции"]
                        },

                        {
                            image: "img/home/learn-1",
                            name: "Рекомендуемый порядок промывки системы охлаждения автомобиля",
                            tags: ["Ремонт", "Инструкции", "Автосервис", "Продукция", "Обучение"]
                        },

                        {
                            image: "img/home/learn-2",
                            name: "Тосол или антифриз? Что и как нужно выбирать",
                            tags: ["Продукция", "Автосервис"]
                        },

                        {
                            image: "img/home/learn-3",
                            name: "Тормозная жидкость. Когда пора менять и как выбрать?",
                            tags: ["Ремонт", "Инструкции"]
                        },

                        {
                            image: "img/home/learn-4",
                            name: "Как правильно выбрать тормозные колодки",
                            tags: ["Продукция", "Автосервис", "Инструкции"]
                        },

                    ]

                each item in list
                    .homepage-materials__item.materials-block__item
                        a(href="#").homepage-materials__item-image.materials-block__item-image
                            picture
                                source(srcset=item.image + ".webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src=item.image + ".jpg")
                            .homepage-materials__item-arrow.materials-block__item-arrow: include ../../img/svg/ic_arrow-right-gray.svg
                        .homepage-materials__item-content.materials-block__item-content
                            .homepage-materials__item-tags.materials-block__item-tags
                                each tag in item.tags
                                    a(href="#").homepage-materials__item-tag.materials-block__item-tag=tag
                            a(href="#").homepage-materials__item-name.materials-block__item-name=item.name
                            a(href="#").homepage-materials__item-more.materials-block__item-more
                                span Подробнее
                                include ../../img/svg/ic-more.svg

            .pagination.materials-block__pagination
                .pagination-more
                    .btn.btn-primary Показать еще
                .pagination-pages
                    a(href="#").pagination-pages__page.prev: include ../../img/svg/ic_prev.svg
                    ul.pagination-pages__items
                        li.pagination-pages__item: a(href="#").pagination-pages__item-link.is-active 1
                        li.pagination-pages__item: a(href="#").pagination-pages__item-link 2
                        li.pagination-pages__item: a(href="#").pagination-pages__item-link ...
                        li.pagination-pages__item: a(href="#").pagination-pages__item-link 7
                    a(href="#").pagination-pages__page.next: include ../../img/svg/ic_next.svg

    
block scripts
    script(src="js/main.js")