extends ../layouts/default-1
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug
include ../../blocks/modules/common/page-banner/page-banner


block variables
    - const title = "Главная"
block styles
block content

    .page-breadcrumbs
        .container
            +breadcrumb(
                [
                    {
                        link: "/",
                        text: "Главная",
                    },
                    {
                        link: "/",
                        text: "Личный кабинет",
                        isActive: true,
                    },
                    {
                        link: "/",
                        text: "Информация о компании",
                        isActive: true,
                    },
                ]
            )

    section.personal-block
        .container
            h1.personal-block__title.section-h1 Информация о компании
            .personal-block__sidebar
                .personal-block__company
                    .personal-block__company-name ООО "Масла России"
                    .personal-block__company-phone
                        span Контактный телефон
                        a(href="#") +7 123 456-78-90
                    .personal-block__company-email
                        span Электронная почта
                        a(href="#") oooilrussia@gmail.com
                ul.personal-block__menu
                    li.personal-block__menu-item: a(href="#").personal-block__menu-link.is-active Информация о компании
                    li.personal-block__menu-item: a(href="#").personal-block__menu-link Сертификаты и допуски
                    li.personal-block__menu-item: a(href="#").personal-block__menu-link Справочная информация
                    li.personal-block__menu-item: a(href="#").personal-block__menu-link Телефонный справочник
                .personal-block__logout
                    a(href="#").btn.btn-primary Выход
            .personal-block__content
                .personal-info
                    form.form.personal-info__data
                        .personal-info__data-col
                            .personal-info__data-title.section-h4 Контактные данные
                            .form__fields
                                .form__field
                                    .input.input-text.did-floating-label-content
                                        input.did-floating-input(type='text' placeholder='Название компании')
                                        label.did-floating-label Название компании
                                .form__field
                                    .input.input-text.did-floating-label-content
                                        input.did-floating-input(type='text' placeholder='ИНН')
                                        label.did-floating-label ИНН
                                .form__field
                                    .input.input-text.did-floating-label-content
                                        input.did-floating-input(type='text' placeholder='КПП')
                                        label.did-floating-label КПП
                                .form__field
                                    .input.input-text.did-floating-label-content
                                        input.did-floating-input(type='text' placeholder='ОГРН')
                                        label.did-floating-label ОГРН
                        .personal-info__data-col
                            .personal-info__data-title.section-h4 Регистрационные данные
                            .form__fields
                                .form__field
                                    .input.input-email.did-floating-label-content
                                        input.did-floating-input(type='email' placeholder='Электронная почта')
                                        label.did-floating-label Электронная почта
                                .form__field
                                    .input.input-tel.did-floating-label-content
                                        input.did-floating-input(type='tel' placeholder='Телефон')
                                        label.did-floating-label Телефон
                                .form__field
                                    .input.input-text.did-floating-label-content
                                        input.did-floating-input(type='text' placeholder='Адрес')
                                        label.did-floating-label Адрес
                        .form__submit
                            a(href="#").btn.btn-primary Изменить данные
                    form.form.personal-info__data.personal-info__password
                        .personal-info__data-col
                            .personal-info__data-title.section-h4 Смена пароля
                            .form__fields
                                .form__field
                                    .input.input-password.did-floating-label-content
                                        input.did-floating-input(type='password' placeholder='Текущий пароль')
                                        label.did-floating-label Текущий пароль
                                        .input-password__show.js-input-password__show
                                .form__field
                                    .input.input-password.did-floating-label-content
                                        input.did-floating-input(type='password' placeholder='Новый пароль')
                                        label.did-floating-label Новый пароль
                                        .input-password__show.js-input-password__show
                                .form__field
                                    .input.input-password.did-floating-label-content
                                        input.did-floating-input(type='password' placeholder='Повторите пароль')
                                        label.did-floating-label Повторите пароль
                                        .input-password__show.js-input-password__show
                        .form__submit
                            a(href="#").btn.btn-primary Сменить пароль

block scripts
    script(src="js/main.js")
    script(src="js/personal.js")