extends ../layouts/default-1
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug
include ../../blocks/modules/common/page-banner/page-banner


block variables
    - const title = "Главная"
block styles
block content

    .page-breadcrumbs
        .container
            +breadcrumb(
                [
                    {
                        link: "/",
                        text: "Главная",
                    },
                    {
                        link: "/",
                        text: "Политика в отношении обработки персональных данных",
                        isActive: true,
                    },
                ]
            )

    section.policy-block.textpage-block
        .container
            h1.section-h1.policy-block__title.textpage-block__title Политика в отношении обработки<br> персональных данных
            .textpage-block__content.edit-content
                p Настоящая Политика конфиденциальности (далее – Политика) устанавливает правила использования персональной информации, получаемой от пользователей сайта (далее – Пользователи) администратором сайта (http://************/) (далее - Компания).
                p Настоящая Политика конфиденциальности применяется ко всем Пользователям Сайта. Все термины и определения, встречающиеся в тексте Политики толкуются в соответствии с действующим законодательством РФ (в частности, ФЗ «О персональных данных».)
                p Пользователи прямо соглашаются на обработку своих персональных данных, как это описано в настоящей Политике. Использование Сайта означает выражение Пользователем безоговорочного согласия с Политикой и указанными условиями обработки информации.
                p Пользователь не должен пользоваться Сайтом, если Пользователь не согласен с условиями Политики.
                h5 1. Персональная информация Пользователей, которую обрабатывает Компания
                p 1.1. Сайт собирает, получает доступ и использует в определенных Политикой целях персональные данные Пользователей, техническую и иную информацию, связанную с Пользователями.
                p 1.2. Техническая информация не является персональными данными. Компания использует файлы cookies, которые позволяют идентифицировать Пользователя. Файлы cookies – это текстовые файлы, доступные Компании, для обработки информации об активности Пользователя, включая информацию о том, какие страницы посещал Пользователь и о времени, которое Пользователь провел на странице. Пользователь может отключить возможность использования файлов cookies в настройках браузера.
                p 1.3. Также под технической информацией понимается информация, которая автоматически передается Компании в процессе использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения
                h5 2. Цели сбора персональных данных
                p 2.1. Главная цель Компании при сборе персональных данных — предоставление информационных, консультационных услуг Пользователям. Пользователи соглашаются с тем, что Компания также может использовать их персональные данные для:
                ul
                        li Идентификация стороны в рамках предоставляемых услуг;
                        li Предоставления услуг и клиентской поддержки по запросу Пользователей;
                        li Улучшение качества услуг, удобства их использования, разработка и развитие
                        li Сайта, устранения технических неполадок или проблем с безопасностью;
                        li Анализ для расширения и совершенствования услуг, информационного наполнения  и рекламы услуг;
                        li Информирования Пользователей об услугах, целевом маркетинге, обновлении услуг и рекламных предложениях на основании информационных предпочтений Пользователей;
                        li Таргетирование рекламных материалов; рассылки индивидуальных маркетинговых сообщений посредством электронной почты, звонки и SMS;
                        li Проведение статистических и иных исследований на основе обезличенных данных;                        
                p 2.2. Компания использует техническую информацию обезличено в целях, указанных в пункте 2.1.

block scripts
    script(src="js/main.js")