@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

@import "vendor/splide-core";

@import "../blocks/modules/common/page-banner/page-banner";

.activities-block{
  padding: 60px 0 30px;
  overflow: hidden;

  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: -24px;
  }

  &__item{
    margin: 24px;
    width: calc(100% - 48px);

    &-icon{
      margin-bottom: 20px;
      img{
        width: 92px;
        height: 92px;
      }
    }

    &-desc{
      font-size: 14px;
      line-height: 186%;
      color: var(--color-footer-bg)
    }

  }

  @media screen and (min-width: 831px) {
    padding: 100px 0 40px;

    &__items{
      margin: -30px;
    }

    &__item{
      width: calc(100% / 2 - 60px);
      margin: 30px;
    }

  }

  @media screen and (min-width: 1025px) {
    padding: 120px 0 50px;

    &__item{
      width: calc(100% / 3 - 60px);
    }

  }

}

.realization-block{
  padding: 30px 0 60px;
  overflow: hidden;

  &__title{
    margin-bottom: 24px;
  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
  }

  &__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    margin: 12px;
    width: calc(100% - 24px);

    &-icon{
      margin-right: 17px;
    }

    &-name{
      width: calc(100% - (48px + 17px));
      margin-bottom: 0;
    }

    &-desc{
      padding-top: 14px;
      width: 100%;
      font-size: 16px;
      line-height: 175%;
      color: var(--color-text-primary);
    }

  }

  @media screen and (min-width: 1025px) {
    padding: 30px 0 100px;

    &__title{
      margin-bottom: 48px;
    }

    &__items{
      margin: -20px;
    }

    &__item{
      width: calc(100% / 2 - 40px);
      margin: 20px;
    }

  }

  @media screen and (min-width: 1281px) {
    &__items{
      margin: -40px;
    }

    &__item{
      width: calc(100% / 2 - 80px);
      margin: 40px;
    }

  }

}

.ceo-block{
  background: var(--color-section-bg);
  padding: 50px 0;

  @media screen and (min-width: 1025px) {
    padding: 100px 0 50px;
  }

  &__image{
    margin-bottom: 24px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text{

    &-quote{
      font-weight: 300;
      font-size: 16px;
      line-height: 180%;
      color: var(--color-text-primary);
      margin-bottom: 12px;
    }

    &-caption{
      display: flex;
      align-items: center;
    }

    &-name{
      padding-right: 12px;
      margin-right: auto;

      strong{
        display: block;
      }

    }

    &-sign{
      img{
        width: 100%;
        height: auto;
        mix-blend-mode: multiply;
      }
    }

  }

  @media screen and (min-width: 1025px) {

    .container{
      display: flex;
      align-items: flex-start;
    }

    &__image{
      max-width: 350px;
      width: 100%;
      margin-right: 40px;
      margin-bottom: 0;
      min-height: 420px;
      display: flex;
    }

    &__text{
      max-width: 1004px;
      width: calc(100% - 390px);

      &-quote{
        font-size: 18px;
      }

      &-name{
        font-size: 18px;
        line-height: 160%;

        strong{
          font-size: 20px;
        }

      }

    }


  }

  @media screen and (min-width: 1281px) {
    &__text{
      position: relative;
      padding-left: 84px;

      &-icon{
        position: absolute;
        top: 0;
        left: 0;
      }

    }
  }



}

@import "../blocks/modules/common/cert-block/cert-block";

.codex-block{
  padding: 0 0 60px;

  @media screen and (min-width: 1153px) {
    padding-bottom: 120px;
  }

  &__content{
    background: #FFFFFF;
    border: 1px solid rgba(8, 123, 168, 0.2);
    border-radius: 30px;
    padding: 40px;
    max-width: 506px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__caption{
    font-size: 13px;
    line-height: 154%;
    color: var(--color-text-primary);
    margin-bottom: 24px;
  }

  &__link{
    .btn{
      min-width: 240px;
    }
  }

}

