@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

@import "vendor/splide-core";

.history-block{
  padding: 0 0 60px;
  overflow: hidden;

  @media screen and (min-width: 1025px) {
    padding: 0 0 120px;
    overflow: initial;
  }

  &__title{
    margin-bottom: 38px;
  }

  &__caption{
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    color: var(--color-text-primary);
    margin-bottom: 32px;

    @media screen and (min-width: 831px) {
      font-size: 18px;
    }

    @media screen and (min-width: 1025px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1153px) {
      font-size: 22px;
    }

  }

  &__years{
    margin-bottom: 24px;

    .splide__track{
      overflow: visible;

      @media screen and (min-width: 1025px) {
        overflow: hidden;
      }


    }

    &-item{
      font-weight: 700;
      font-size: 30px;
      line-height: 35px / 30px * 100%;
      text-align: center;
      color: rgba(1, 25, 43, 0.3);
      transition: all 0.25s ease;
      min-height: 40px;
      min-width: 110px;
      cursor: pointer;

      &.is-active{
        font-size: 40px;
        color: var(--color-accent);
      }

      @media screen and (min-width: 831px) {
        min-height: 92px;

        &.is-active{
          font-size: 80px;
          color: var(--color-accent);
        }

      }

      @media screen and (min-width: 1025px) {
        min-height: 116px;

        &.is-active{
          font-size: 100px;
        }

      }

      @media screen and (min-width: 1153px) {
        min-height: 162px;

        &.is-active{
          font-size: 140px;
        }

      }




    }
  }

  &__slider{

  }

  &__slide{

    &-desc{
      font-size: 16px;
      line-height: 160%;
      color: var(--color-text-primary);

      p{
        margin-top: 0;
      }

      @media screen and (min-width: 831px) {
        font-size: 18px;
      }

      @media screen and (min-width: 1025px) {
        font-size: 20px;
      }

      @media screen and (min-width: 1153px) {
        font-size: 22px;
      }

    }

    &-image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    @media screen and (min-width: 831px) {
      display: flex;
      align-items: center;

      &-desc{
        width: 620px / 1400px * 100%;
        max-width: 620px;
        margin-right: auto;
      }

      &-image{
        width: 685px / 1400px * 100%;
        max-width: 685px;
      }


    }


  }

  &__arrows{
    margin-bottom: 32px;
  }

  @media screen and (min-width: 831px) {

    &__slide{

      &-desc{
        padding-top: 74px;
      }

    }

    &__arrows{
      margin-bottom: -54px;
      position: relative;
      z-index: 1;
      width: 620px / 1400px * 100%;
      max-width: 620px;
      margin-right: auto
    }

  }

}