.materials-block{
  padding-top: 0;
  padding-bottom: 60px;
  background: #fff;

  @media screen and (min-width: 641px) {
    padding-top: 0;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1153px) {
    padding-top: 0;
    padding-bottom: 120px;
  }

  &__title{
    margin-bottom: 24px;
  }

  &__tags{
    display: flex;
    flex-wrap: wrap;
    margin: -5px -5px 27px;
  }

  &__tag{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px / 14px * 100%;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 14px 20px;
    background: rgba(8, 123, 168, 0.1);
    border-radius: 99px;
    margin: 5px;
    transition: all 0.25s ease;

    &.is-active{
      background: #00415D;
      color: #fff;
    }

  }

  &__items{
    margin-bottom: 36px;
  }

}