.coop-block {
  padding: 50px 0 33px;

  &__caption {
    max-width: 680px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    color: var(--color-text-primary);

    @media screen and (min-width: 831px) {
      font-size: 18px;
    }

    @media screen and (min-width: 1025px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1281px) {
      font-size: 22px;
    }
  }
}

.advantages-block {
  padding: 33px 0;

  @media screen and (min-width: 1025px) {
    padding: 33px 0 60px;
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: 1025px) {
      margin-bottom: 48px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -8px 0;

    @media screen and (min-width: 1153px) {
      margin: -24px -24px 0;
    }
  }

  &__item {
    width: calc(100% - 16px);
    margin: 8px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    flex-grow: 1;

    @media screen and (min-width: 641px) {
      width: calc(100% / 2 - 16px);
    }

    @media screen and (min-width: 831px) {
      width: calc(100% / 3 - 16px);
    }

    @media screen and (min-width: 1153px) {
      width: calc(100% / 3 - 48px);
      margin: 24px;
    }

    &-image {
      position: absolute;
      padding-top: 200px / 328px * 100%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
      }
    }

    &-content {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      padding: 20px;
      background: linear-gradient(
        180deg,
        rgba(0, 65, 93, 0) 0%,
        rgba(0, 65, 93, 0.8) 100%
      );
      min-height: 200px;
      z-index: 1;
      transition: all 0.25s ease;

      @media screen and (min-width: 481px) {
        min-height: 280px;
      }

      @media screen and (min-width: 831px) {
        padding: 25px 40px;
      }
    }

    &-name {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: #ffffff;
      transition: all 0.25s ease;
      margin-top: auto;
      min-height: 54px;
      display: flex;
      align-items: center;

      @media screen and (min-width: 1153px) {
        font-size: 24px;
      }
    }
  }
}

.order-block {
  padding: 33px 0 60px;

  @media screen and (min-width: 1025px) {
    padding: 33px 0 120px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__items {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    background: #ffffff;
    border: 1px solid rgba(8, 123, 168, 0.2);
    border-radius: 4px;
    padding: 30px;
    margin: 15px;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 641px) {
      width: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1025px) {
      width: calc(100% / 4 - 30px);
    }

    &-name {
      margin-bottom: 29px;
    }

    &-image {
      max-width: 192px;
      margin: auto auto 10px;
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
      }
    }

    &-options {
      display: flex;
      align-items: center;
      margin-top: auto;
      margin-bottom: 10px;

      img {
        width: 36px;
        height: 36px;
        margin-bottom: 9px;
      }
    }

    &-option {
      padding: 0 6px;

      span {
        font-size: 14px;
        line-height: 22px / 14px * 100%;
      }
    }

    &-btn {
      min-width: 201px;
    }
  }
}
