.result-block{
  padding: 0 0 60px;

  &__title{
    margin-bottom: 40px;
  }

  &__alert{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #F5F6F6;
    border-radius: 4px;
    padding: 20px 30px;
    margin-bottom: 30px;

    & > *{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &-caption{
      font-weight: 300;
      font-size: 18px;
      line-height:111%;
      color: rgba(1, 25, 43, 0.5);
      margin-right: 20px;
    }

    &-value{
      font-weight: 700;
      font-size: 18px;
      line-height: 111%;
      color: var(--color-text-primary);
      margin-right: 30px;
    }

    &-link{
      .btn{
        padding: 13px 30px;
      }
    }

  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px 25px;
  }

  &__item{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 30px;
    background: #FFFFFF;
    border: 2px solid rgba(8, 123, 168, 0.2);
    border-radius: 4px;
    transition: all 0.25s ease;
    width: calc(100% - 30px);

    &:hover{
      border: 2px solid #087BA8;
    }

    &-images{
      width: 100%;
      margin-bottom: 24px;
    }

    &-logo{
      max-width: 89px;
      margin-bottom: 13px;
      img{
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
      }
    }

    &-image{
      width: 100%;
      max-width: 247px;

      img{
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
      }

    }

    &-content{
      width: 100%;
    }

    &-art{
      font-size: 14px;
      line-height: 200%;
      color: rgba(1, 25, 43, 0.5);
      margin-bottom: 9px;
    }

    &-name{
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: var(--color-accent);
      min-height: 63px;
      margin-bottom: 3px;
      transition: all 0.25s ease;
      &:hover{
        color: var(--color-accent-hover);
      }

    }

    &-volume{
      font-size: 22px;
      line-height: 127%;
      color: var(--color-text-primary);
      margin-bottom: 18px;
    }

    &-features{
      margin-bottom: 28px;
      li{
        font-size: 14px;
        line-height: 200%;
        color: var(--color-text-primary);
      }
    }

    &-actions{
      display: flex;
      flex-wrap: wrap;
      margin: -10px -10px 0;

      & > * {
        margin: 10px;
      }

    }

    &-contact{
      padding: 19px 24px;
    }

    &-link{
      width: 54px;
      height: 54px;
      background: rgba(8, 123, 168, 0.1);
      border-radius: 99px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover{
        background: var(--color-accent);

        svg path{
          fill: #fff;
        }

      }

    }

    @media screen and (min-width: 641px) {
      &-images{
        width: 247px / 625px * 100%;
        margin-right: auto;
      }
      &-content{
        width: 60%;
      }
    }

    @media screen and (min-width: 1153px) {
      width: calc(100% / 2 - 30px);

      &-content{
        width: 354px / 625px * 100%;
      }

    }


  }

  &__all{
    display: flex;
    align-items: center;
    justify-content: center;

    .btn{
      min-width: 200px;
    }

  }

  @media screen and (min-width: 1025px) {
    padding: 0 0 100px;
  }

  @media screen and (min-width: 1153px) {
    padding: 0 0 120px;
  }

}