section.mail-block
    .container
        .mail-block__text
            .mail-block__title.section-h2 Подпишитесь на рассылку
            .mail-block__caption.section-h5 получайте самые интересные и актуальные публикации и обучение
        form.mail-block__form
            .form__field
                .input.input-email
                    input(type="email" placeholder="Ваш email*")
            .form__submit
                button.btn.btn-white Подписаться
            .form__agreement * Нажимая на кнопку «Подписаться», Вы даете Согласие на&nbsp;
                a(href="#") обработку персональных данных