mixin coopPopup
    .popup.js-popup.popup-coop#coop
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                form.form.popup__form.popup-coop__form
                    .form__title.section-h3 Оставьте заявку на сотрудничество
                    .form__fields
                        .form__field
                            .input.input-text.did-floating-label-content
                                input.did-floating-input(type='text' placeholder='Ваше имя*' required)
                                label.did-floating-label Ваше имя*
                        .form__field
                            .input.input-text.did-floating-label-content
                                input.did-floating-input(type='text' placeholder='Название организации*' required)
                                label.did-floating-label Название организации*
                        .form__field
                            .input.input-tel.did-floating-label-content
                                input.did-floating-input(type='tel' placeholder='Телефон*' required)
                                label.did-floating-label Телефон*
                        .form__field
                            .input.input-email.did-floating-label-content
                                input.did-floating-input(type='email' placeholder='Ваш email*' required)
                                label.did-floating-label Ваш email*
                        .form__field
                            .did-floating-label-content
                                select.did-floating-select(name='' onclick="this.setAttribute('value', this.value);" value='')
                                    option(value='' selected=''  disabled='') Выберите регион
                                    option(value='Москва') Москва
                                label.did-floating-label Выберите регион
                        .form__field
                            .input.input-text.did-floating-label-content
                                input.did-floating-input(type='text' placeholder='Комментарий')
                                label.did-floating-label Комментарий

                    .form__submit
                        button.btn.btn-primary Оставить заявку
                    .form__agreement Заявки обрабатываются с 9-00 до 19-00, по будням. Передавая свои данные, вы даете согласие на&nbsp;
                        a(href="#") обработку персональных данных
mixin vacancyPopup
    .popup.js-popup.popup-vacancy#vacancy
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                form.form.popup__form.popup-vacancy__form
                    .form__title.section-h3 Откликнуться на вакансию
                    .form__caption Пришлите резюме и мы свяжемся с Вами в ближайшее время
                    .form__fields
                        .form__field
                            .input.input-text.did-floating-label-content
                                input.did-floating-input(type='text' placeholder='Ваше имя*' required)
                                label.did-floating-label Ваше имя*
                        .form__field
                            .input.input-tel.did-floating-label-content
                                input.did-floating-input(type='tel' placeholder='Телефон*' required)
                                label.did-floating-label Телефон*
                        .form__field.fullwidth
                            label.file-input.js-file-input
                                .file-input__icon: +icons('#ic_file', 48)
                                .file-input__title.js-file-input__title Прикрепите резюме
                                .file-input__caption название файла - ангийскими буквами до 10 Мб - максимальный размер файла .pdf / .doc / .jpg / .txt
                                input(type="file" name="resume")
                    .form__submit
                        button.btn.btn-primary Отправить резюме
                    .form__agreement Нажимая на кнопку «Отправить»,Вы даете Согласие на &nbsp;
                        a(href="#") обработку персональных данных
mixin productionPopup
    .popup.js-popup.popup-production#production
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                form.form.popup__form.popup-production__form
                    .form__title.section-h3 Мастер подбора продукции
                    .form__fields
                        .form__field
                            span.label Продукт
                            select(name="" onclick="this.setAttribute('value', this.value);" value='')
                                option(value="" selected disabled='') Выберите продукт
                                option(value="Охлаждающая жидкость") Охлаждающая жидкость
                        .form__field
                            span.label Марка автомобиля
                            select(name="" onclick="this.setAttribute('value', this.value);" value='')
                                option(value="" selected disabled='') Выберите марку автомобиля
                                option(value="Audi") Audi
                                option(value="BMW") BMW
                        .form__field.halfwidth
                            span.label Модель
                            select(name="" onclick="this.setAttribute('value', this.value);" value='')
                                option(value="" selected disabled='') Выберите модель
                        .form__field.halfwidth
                            span.label Объем двигателя
                            select(name="" onclick="this.setAttribute('value', this.value);" value='')
                                option(value="" selected disabled='') Выберите объем
                        .form__field.halfwidth
                            span.label Топливо
                            select(name="" onclick="this.setAttribute('value', this.value);" value='')
                                option(value="" selected disabled='') Выберите топливо
                        .form__field.halfwidth
                            span.label Год выпуска
                            select(name="" onclick="this.setAttribute('value', this.value);" value='')
                                option(value="" selected disabled='') Выберите год
                    .form__submit
                        button.btn.btn-primary Подобрать
mixin successPopup
    .popup.js-popup.popup-success#success
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                .section-h3.popup-success__title Ваша заявка принята!
                .popup-success__caption Наш менеджер свяжется с вами <br>в ближайшее время
                a(href="#close").btn.btn-primary Закрыть
mixin cityPopup
    .popup.js-popup.popup-city#city
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                .popup__content-wrap
                    .section-h3.popup-city__title Ваш город Москва?
                    .popup-city__btns
                        a(href="#close").btn.btn-primary Да, все верно
                        a(href="#cities").btn.btn-secondary Выбрать другой город
mixin citiesPopup
    .popup.js-popup.popup-cities#cities
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                .popup__content-wrap
                    .section-h3.popup-cities__title Выбор города
                    .popup-cities__search.js-popup-cities__search
                        input(type='text' placeholder='Поиск города')
                        svg(width='20' height='20')
                            use(xlink:href='/img/sprites/sprite.svg#ic_search-gray')
                    ul.popup-cities__list
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') <strong>Москва</strong>
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') <strong>Санкт-Петербург</strong>
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Новосибирск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Екатеринбург
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Казань
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Нижний Новгород
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Челябинск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Самара
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Омск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Ростов-на-Дону
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Уфа
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Красноярск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Воронеж
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Пермь
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Волгоград
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Краснодар
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Саратов
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Тольятти
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Тюмень
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Ижевск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Барнаул
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Ульяновск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Иркутск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Хабаровск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Ярославль
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Владивосток
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Махачкала
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Томск
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Оренбург
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Кемерово
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Новокузнецк
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Рязань
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Набережные Челны
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Астрахань
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Пенза
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Киров
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Липецк
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Калининград
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Чебоксары
                        li.popup-cities__list-item.js-popup-cities__list-item: a(href='#') Тула
                        
mixin loginPopup
    .popup.js-popup.popup-login#login
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                form.form.popup__form.popup-login__form
                    .popup-login__image
                        picture
                            source(srcset="img/logo.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/logo.png" width=140 height=140)
                    .form__title.section-h3 Войти
                    .form__fields
                        .form__field
                            span.label Адрес электронной почты
                            .input.input-email
                                input(type="email" placeholder="")
                        .form__field
                            span.label Пароль
                            .input.input-password
                                input(type="password" placeholder="")
                                .input-password__show.js-input-password__show
                    .form__submit
                        button.btn.btn-primary Войти
                    .form__links
                        .form__link: a(href="#") Забыли пароль?
                        .form__link
                            | Еще не зарегистрировались?&nbsp;
                            a(href="#") Регистрация
mixin catalogPopup
    .popup.js-popup.popup-catalog#catalog
        .popup__wrapper
            .popup__close
                a(href="#close"): +icons('#ic_popup-close', 20)
            .popup__content
                .popup-catalog__title.section-h3 Каталог продукции
                ul.popup-catalog__list
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Охлаждающие жидкости
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Тормозные жидкости
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Тормозные колодки
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Смазочные материалы
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Автофильтры
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Теплоносители
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Ароматизаторы
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Автохимия и автокосметика
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Стеклоомывающие жидкости
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Щетки стеклоочистителя
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Автотовары и автоаксессуары
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Жидкость для SCR систем
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Полиэтиленовая тара
                    li.popup-catalog__list-item: a(href='#').popup-catalog__list-link Антисептик
                .popup-catalog__link
                    a(href="#").btn.btn-primary Перейти в каталог
                .popup-catalog__brands
                    a(href="#").popup-catalog__brands-item
                        picture
                            source(srcset="img/catalog/felix.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/catalog/felix.png")
                    a(href="#").popup-catalog__brands-item
                        picture
                            source(srcset="img/catalog/chistayamilya.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/catalog/chistayamilya.png")
                    a(href="#").popup-catalog__brands-item
                        picture
                            source(srcset="img/catalog/champion.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/catalog/champion.png")
                    a(href="#").popup-catalog__brands-item
                        picture
                            source(srcset="img/catalog/AWM.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/catalog/AWM.png")
                    a(href="#").popup-catalog__brands-item
                        picture
                            source(srcset="img/catalog/rosdot.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/catalog/rosdot.png")
                    a(href="#").popup-catalog__brands-item
                        picture
                            source(srcset="img/catalog/AdBlue.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/catalog/AdBlue.png")
                    a(href="#").popup-catalog__brands-item
                        picture
                            source(srcset="img/catalog/sakura.webp" type="image/webp")
                            img.lazyload(loading="lazy" data-src="img/catalog/sakura.png")
