section.aboutpage-info
    .container
        .aboutpage-info__items
            .aboutpage-info__item
                .aboutpage-info__item-caption Общая площадь<br>предприятия
                .aboutpage-info__item-value
                    span
                        strong 6 200
                    span квадратных метров
            .aboutpage-info__item
                .aboutpage-info__item-caption Современные складские помещения с удобной логистической развязкой
                .aboutpage-info__item-value
                    span
                        strong 650
                        strong  тонн в день
                    span отгрузка продукции авто и ж/д транспортом
            .aboutpage-info__item
                .aboutpage-info__item-caption Резервуары для хранения сырья и готовой продукции
                .aboutpage-info__item-value
                    span
                        strong 40 000
                        strong  тонн
                    span емкость хранилища
            .aboutpage-info__item
                .aboutpage-info__item-caption Производство тормозных жидкостей и эфиров гликоля
                .aboutpage-info__item-value
                    span
                        strong 40 000
                        strong  тонн
                    span емкость хранилища
        .aboutpage-info__text
            p Компания «Тосол-Синтез» - основана в 1993 г. в Дзержинске Нижегородской области и в настоящее время является лидером среди российских компаний по производству охлаждающих, тормозных и стеклоомывающих жидкостей, а также выпускает колодки и фильтры. Предприятие производит и дистрибутирует такие известные бренды, как: «ROSDOT», «Чистая миля», «Felix», «AWM», «Glysantin», «Sakura». Вся продукция компании изготавливается на собственном производстве и полностью соответствующем всем необходимым стандартам.
            p Технические специалисты компании «Тосол-Синтез» совместно с научно-исследовательскими институтами и научно-техническими подразделениями зарубежных и отечественных автопроизводителей проводят весь комплекс лабораторных, стендовых и эксплуатационных испытаний при разработке и постановке на производство новых видов продукции.
            picture
                source(srcset="img/about/image.webp" type="image/webp")
                img(src="img/about/image.jpg")
            p Предприятие постоянно совершенствует техническую базу, инвестирует средства на реконструкцию, расширение и модернизацию производства и технологий, реализует систему контроля качества на всех этапах производства, координирует разветвленную дилерскую сеть и постоянно расширяет ассортимент выпускаемой продукции.
            p Передовые разработки в области автохимии позволяют создавать продукцию нового поколения, отвечающую самым последним требованиям автопроизводителей.