section.aboutpage-company
    .container
        .aboutpage-company__title.section-h2 Тосол-Синтез – компания<br> полного цикла
        .aboutpage-company__progress
            .aboutpage-company__progress-dots
                .aboutpage-company__progress-dot(data-text="Разработка рецептуры")
                .aboutpage-company__progress-dot(data-text="Производство сырья")
                .aboutpage-company__progress-dot(data-text="Входной контроль качества")
                .aboutpage-company__progress-dot(data-text="Производство продукции")
                .aboutpage-company__progress-dot(data-text="Контроль качества готовой продукции")
                .aboutpage-company__progress-dot(data-text="Собственное производство тары")
                .aboutpage-company__progress-dot(data-text="Фасовка продукции и отгрузка на ЛЦ")
                .aboutpage-company__progress-dot(data-text="Реализация продукции")
            .aboutpage-company__progress-line
                .aboutpage-company__progress-bar
        //.aboutpage-company__steps.splide
            .splide__track
                ul.splide__list
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Разработка <br>рецептуры
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Производство<br>сырья
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Входной контроль<br> качества
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Производство<br> продукции
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Контроль качества <br>готовой продукции
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Собственное<br> производство тары
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Фасовка продукции<br> и отгрузка на ЛЦ
                    li.splide__slide.aboutpage-company__step
                        .aboutpage-company__step-dot
                        .aboutpage-company__step-text Реализация<br> продукции
        .aboutpage-company__slider.splide
            .splide__track
                ul.splide__list
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                    li.splide__slide.aboutpage-company__slide
                        .aboutpage-company__slide-text
                            span Шаг 1
                            p За короткое время мы смогли завоевать доверие тысяч покупателей по всему миру.
                            p Отчасти это благодаря тому, что в компанию были вложены самые передовые технологии, стандарты  и новейшие достижения в сфере высококачественных услуг.
                        .aboutpage-company__slide-image
                            picture
                                source(srcset="img/about/company.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/company.jpg")
                .aboutpage-company__arrows.splide__arrows.slider-nav
                    button.aboutpage-company__arrow.slider-nav__arrow.splide__arrow.splide__arrow--prev
                        include ../../../../img/svg/ic_arrow-left.svg
                    button.aboutpage-company__arrow.slider-nav__arrow.splide__arrow.splide__arrow--next
                        span Далее
                        include ../../../../img/svg/ic_arrow-right.svg