.mobilemenu.js-mobilemenu
    .container
        .mobilemenu__header
            .burger.js-burger.is-open
                span.burger__line
                span.burger__line
                span.burger__line
                span.burger__line
            a.mobilemenu__profile(href='#')
                svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_500_980)')
                        path(d='M9.83998 0C6.67691 0 4.08778 2.58922 4.08778 5.75228C4.08778 7.68645 5.05965 9.39908 6.53481 10.4411C3.10108 11.8175 0.664062 15.1756 0.664063 19.0932C0.669315 19.33 0.767067 19.5553 0.936386 19.7209C1.10571 19.8865 1.33313 19.9793 1.56998 19.9793C1.80682 19.9793 2.03425 19.8865 2.20357 19.7209C2.37289 19.5553 2.47064 19.33 2.47589 19.0932C2.47589 14.935 5.82863 11.5841 9.98684 11.5841C14.145 11.5841 17.496 14.935 17.496 19.0932C17.496 19.3337 17.5915 19.5643 17.7616 19.7344C17.9317 19.9044 18.1623 20 18.4028 20C18.6433 20 18.874 19.9044 19.044 19.7344C19.2141 19.5643 19.3096 19.3337 19.3096 19.0932C19.3096 15.1014 16.7775 11.6938 13.2407 10.3685C14.6583 9.32057 15.5833 7.64297 15.5833 5.75228C15.5833 2.58922 13.003 0 9.83998 0ZM9.83998 1.81363C12.0239 1.81363 13.7715 3.56839 13.7715 5.75228C13.7715 7.93616 12.0239 9.68371 9.83998 9.68371C7.6561 9.68371 5.90138 7.93616 5.90138 5.75228C5.90138 3.56839 7.6561 1.81363 9.83998 1.81363Z' fill='white')
                    defs
                        clippath#clip0_500_980
                            rect(width='20' height='20' fill='white')
            .mobilemenu__lang
                .mobilemenu__lang-icon
                    svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_500_975)')
                            path(d='M10 0C4.47297 0 0 4.47254 0 10C0 15.527 4.47254 20 10 20C15.527 20 20 15.5275 20 10C20 4.47297 15.5275 0 10 0ZM6.1307 2.06066C5.82809 2.88484 5.57406 3.72266 5.36902 4.57219C4.76977 4.39012 4.18027 4.1718 3.60172 3.91742C4.3343 3.14777 5.18797 2.52109 6.1307 2.06066ZM2.8257 4.85313C3.57457 5.19992 4.34098 5.48984 5.12266 5.72238C4.89586 6.93305 4.76617 8.16527 4.73539 9.41406H1.19148C1.29941 7.75621 1.86437 6.18711 2.8257 4.85313ZM2.8257 15.1469C1.86437 13.8129 1.29941 12.2438 1.19148 10.5859H4.73539C4.76617 11.8347 4.89586 13.067 5.12266 14.2776C4.34098 14.5102 3.57461 14.8001 2.8257 15.1469ZM3.60172 16.0826C4.18027 15.8282 4.76973 15.6099 5.36902 15.4279C5.5741 16.2774 5.82809 17.1152 6.1307 17.9394C5.18844 17.4792 4.33469 16.8526 3.60172 16.0826ZM9.41406 18.8085C8.79867 18.7685 8.19543 18.6657 7.61191 18.5029C7.14844 17.4044 6.77852 16.2782 6.50262 15.1293C7.45254 14.9169 8.42445 14.7927 9.41406 14.7576V18.8085ZM9.41406 13.585C8.34188 13.6205 7.28887 13.7533 6.25973 13.9825C6.05527 12.8681 5.93746 11.7345 5.90766 10.5859H9.41406V13.585ZM9.41406 9.41406H5.90766C5.93746 8.26555 6.05527 7.13191 6.25973 6.0175C7.28887 6.24672 8.34188 6.37953 9.41406 6.41496V9.41406ZM9.41406 5.24238C8.42445 5.20727 7.45254 5.08309 6.50262 4.8707C6.77852 3.72184 7.14844 2.59559 7.61191 1.49715C8.19543 1.33426 8.79867 1.23152 9.41406 1.19148V5.24238ZM17.1743 4.85313C18.1356 6.18711 18.7006 7.75621 18.8085 9.41406H15.2646C15.2338 8.16527 15.1041 6.93305 14.8773 5.72238C15.659 5.48984 16.4254 5.19992 17.1743 4.85313ZM16.3983 3.91738C15.8197 4.1718 15.2303 4.39012 14.631 4.57215C14.4259 3.72262 14.1719 2.8848 13.8693 2.06063C14.8116 2.52082 15.6653 3.14738 16.3983 3.91738ZM10.5859 1.19148C11.2013 1.23152 11.8046 1.33426 12.3881 1.49715C12.8516 2.59559 13.2215 3.72184 13.4974 4.8707C12.5475 5.08309 11.5755 5.20727 10.5859 5.24238V1.19148ZM10.5859 6.41496C11.6581 6.37953 12.7111 6.24672 13.7403 6.0175C13.9447 7.13191 14.0625 8.26555 14.0923 9.41406H10.5859V6.41496ZM12.388 18.5028C11.8046 18.6657 11.2013 18.7685 10.5859 18.8085V14.7576C11.5755 14.7927 12.5475 14.9169 13.4974 15.1293C13.2214 16.2782 12.8516 17.4044 12.388 18.5028ZM10.5859 13.585V10.5859H14.0923C14.0625 11.7345 13.9447 12.8681 13.7403 13.9825C12.7111 13.7533 11.6581 13.6205 10.5859 13.585ZM13.8693 17.9393C14.1719 17.1152 14.4259 16.2773 14.631 15.4278C15.2302 15.6099 15.8197 15.8282 16.3983 16.0826C15.6657 16.8522 14.812 17.4789 13.8693 17.9393ZM17.1743 15.1469C16.4254 14.8001 15.659 14.5102 14.8773 14.2776C15.1041 13.067 15.2338 11.8347 15.2646 10.5859H18.8085C18.7006 12.2438 18.1356 13.8129 17.1743 15.1469Z' fill='white')
                        defs
                            clippath#clip0_500_975
                                rect(width='20' height='20' fill='white')
                .mobilemenu__lang-choose
                    .select
                        select
                            option(value='' disabled='disabled' selected='selected') RU
                            option(value='item') RU
                            option(value='item') EN
        .mobilemenu__nav
            ul.mobilemenu__nav-list
                li.mobilemenu__nav-item.has-submenu
                    a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') О компании
                    .mobilemenu__nav-toggle.js-mobilemenu__nav-toggle
                        svg(width='28' height='28')
                            use(xlink:href='/img/sprites/sprite.svg#ic_chevron-down')
                    ul.mobilemenu__nav-submenu
                        li.mobilemenu__nav-item
                            a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') О нас
                        li.mobilemenu__nav-item
                            a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#')
                                | История
                                | предприятия
                        li.mobilemenu__nav-item
                            a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') География
                        li.mobilemenu__nav-item
                            a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') Лаборатория
                        li.mobilemenu__nav-item
                            a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#')
                                | Логистический
                                | центр
                        li.mobilemenu__nav-item
                            a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') Вакансии
                li.mobilemenu__nav-item
                    a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') Продукция
                li.mobilemenu__nav-item
                    a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') Основы развития
                li.mobilemenu__nav-item
                    a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') Пресс-центр
                li.mobilemenu__nav-item
                    a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') Сотрудничество
                li.mobilemenu__nav-item
                    a.mobilemenu__nav-link.js-mobilemenu__nav-link(href='#') Контакты
        .mobilemenu__feedback
            a.btn.btn-secondary(href='#') Вопросы по сотрудничеству
