section.gallery-block.js-gallery-block.splide
    .container
        .gallery-block__title.section-h2 Галерея
        .gallery-block__arrows.splide__arrows.slider-nav
            button.gallery-block__arrow.slider-nav__arrow.splide__arrow.splide__arrow--prev
                include ../../../../img/svg/ic_arrow-left.svg
            button.gallery-block__arrow.slider-nav__arrow.splide__arrow.splide__arrow--next
                span Далее
                include ../../../../img/svg/ic_arrow-right.svg
        .splide__track
            ul.splide__list
                li.splide__slide.gallery-block__slide
                    a(href="#" data-gallery="img/about/gallery-1.jpg,img/about/gallery-2.jpg,img/about/gallery-3.jpg")
                        .gallery-block__slide-image
                            picture
                                source(srcset="img/about/gallery-1.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/gallery-1.jpg")
                        .gallery-block__slide-caption Выставка автомобильной промышленности Automechanika Dubai 2021
                li.splide__slide.gallery-block__slide
                    a(href="#" data-gallery="img/about/gallery-1.jpg,img/about/gallery-2.jpg,img/about/gallery-3.jpg")
                        .gallery-block__slide-image
                            picture
                                source(srcset="img/about/gallery-2.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/gallery-2.jpg")
                        .gallery-block__slide-caption Логистический центр с современными складскими помещениями
                li.splide__slide.gallery-block__slide
                    a(href="#" data-gallery="img/about/gallery-1.jpg,img/about/gallery-2.jpg,img/about/gallery-3.jpg")
                        .gallery-block__slide-image
                            picture
                                source(srcset="img/about/gallery-3.webp" type="image/webp")
                                img.lazyload(loading="lazy" data-src="img/about/gallery-3.jpg")
                        .gallery-block__slide-caption «Тосол-Синтез» на производстве