section.homepage-banner
    .homepage-banner__slider.js-homepage-banner__slider.splide
        .splide__track
            ul.splide__list
                li.splide__slide.homepage-banner__slide
                    .homepage-banner__image
                        picture
                            source(srcset="img/home/banner-1.webp" type="image/webp" media="(min-width: 641px)")
                            source(srcset="img/home/banner.jpg" type="image/jpeg" media="(min-width: 641px)")
                            source(srcset="img/home/banner.webp" type="image/webp")
                            img(src="img/home/banner.jpg")
                    .homepage-banner__content
                        .container
                            h1.homepage-banner__title.section-h2 Крупнейший производитель качественной автохимии мирового уровня
                            .homepage-banner__actions
                                a.btn.btn-primary(href="#") Узнать больше
                                a(href="#").homepage-banner__action.watch: include ../../../../img/svg/ic_play.svg
                            .homepage-banner__feedback
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-message
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_dots.svg
                                    .homepage-banner__feedback-caption Написать нам
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-products
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_product.svg
                                    .homepage-banner__feedback-caption Подбор продукции
                li.splide__slide.homepage-banner__slide
                    .homepage-banner__image
                        picture
                            source(srcset="img/home/banner-2.webp" type="image/webp")
                            img(src="img/home/banner-2.jpg")
                    .homepage-banner__content
                        .container
                            .homepage-banner__title.section-h2 Собственная акредитованная лаборатория
                            .homepage-banner__caption Удовлетворяем требования заказчиков в области испытаний, измерений или исследований продукции
                            .homepage-banner__actions
                                a.btn.btn-primary(href="#") Узнать больше
                                a(href="#").homepage-banner__action.watch: include ../../../../img/svg/ic_play.svg
                            .homepage-banner__feedback
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-message
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_dots.svg
                                    .homepage-banner__feedback-caption Написать нам
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-products
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_product.svg
                                    .homepage-banner__feedback-caption Подбор продукции
                li.splide__slide.homepage-banner__slide
                    .homepage-banner__image
                        picture
                            source(srcset="img/home/banner-1.webp" type="image/webp" media="(min-width: 641px)")
                            source(srcset="img/home/banner.jpg" type="image/jpeg" media="(min-width: 641px)")
                            source(srcset="img/home/banner.webp" type="image/webp")
                            img(src="img/home/banner.jpg")
                    .homepage-banner__content
                        .container
                            h1.homepage-banner__title.section-h2 Крупнейший производитель качественной автохимии мирового уровня
                            .homepage-banner__actions
                                a.btn.btn-primary(href="#") Узнать больше
                                a(href="#").homepage-banner__action.watch: include ../../../../img/svg/ic_play.svg
                            .homepage-banner__feedback
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-message
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_dots.svg
                                    .homepage-banner__feedback-caption Написать нам
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-products
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_product.svg
                                    .homepage-banner__feedback-caption Подбор продукции
                li.splide__slide.homepage-banner__slide
                    .homepage-banner__image
                        picture
                            source(srcset="img/home/banner-2.webp" type="image/webp")
                            img(src="img/home/banner-2.jpg")
                    .homepage-banner__content
                        .container
                            .homepage-banner__title.section-h2 Собственная акредитованная лаборатория
                            .homepage-banner__caption Удовлетворяем требования заказчиков в области испытаний, измерений или исследований продукции
                            .homepage-banner__actions
                                a.btn.btn-primary(href="#") Узнать больше
                                a(href="#").homepage-banner__action.watch: include ../../../../img/svg/ic_play.svg
                            .homepage-banner__feedback
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-message
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_dots.svg
                                    .homepage-banner__feedback-caption Написать нам
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-products
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_product.svg
                                    .homepage-banner__feedback-caption Подбор продукции
                li.splide__slide.homepage-banner__slide
                    .homepage-banner__image
                        picture
                            source(srcset="img/home/banner-1.webp" type="image/webp" media="(min-width: 641px)")
                            source(srcset="img/home/banner.jpg" type="image/jpeg" media="(min-width: 641px)")
                            source(srcset="img/home/banner.webp" type="image/webp")
                            img(src="img/home/banner.jpg")
                    .homepage-banner__content
                        .container
                            h1.homepage-banner__title.section-h2 Крупнейший производитель качественной автохимии мирового уровня
                            .homepage-banner__actions
                                a.btn.btn-primary(href="#") Узнать больше
                                a(href="#").homepage-banner__action.watch: include ../../../../img/svg/ic_play.svg
                            .homepage-banner__feedback
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-message
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_dots.svg
                                    .homepage-banner__feedback-caption Написать нам
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-products
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_product.svg
                                    .homepage-banner__feedback-caption Подбор продукции
                li.splide__slide.homepage-banner__slide
                    .homepage-banner__image
                        picture
                            source(srcset="img/home/banner-2.webp" type="image/webp")
                            img(src="img/home/banner-2.jpg")
                    .homepage-banner__content
                        .container
                            .homepage-banner__title.section-h2 Собственная акредитованная лаборатория
                            .homepage-banner__caption Удовлетворяем требования заказчиков в области испытаний, измерений или исследований продукции
                            .homepage-banner__actions
                                a.btn.btn-primary(href="#") Узнать больше
                                a(href="#").homepage-banner__action.watch: include ../../../../img/svg/ic_play.svg
                            .homepage-banner__feedback
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-message
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_dots.svg
                                    .homepage-banner__feedback-caption Написать нам
                                a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-products
                                    .homepage-banner__feedback-icon: include ../../../../img/svg/ic_product.svg
                                    .homepage-banner__feedback-caption Подбор продукции
        .homepage-banner__arrows.splide__arrows
            button.homepage-banner__arrow.splide__arrow.splide__arrow--prev: include ../../../../img/svg/ic_arrow-left.svg
            button.homepage-banner__arrow.splide__arrow.splide__arrow--next: include ../../../../img/svg/ic_arrow-right.svg
    .homepage-banner__contains
        .homepage-banner__contains-list.js-homepage-banner__contains-list.splide
            .splide__track
                ul.splide__list
                    li.splide__slide.homepage-banner__contains-item Тосол-Синтез
                    li.splide__slide.homepage-banner__contains-item Автоматизированное производство
                    li.splide__slide.homepage-banner__contains-item Качество мирового уровня
                    li.splide__slide.homepage-banner__contains-item Логистический центр
                    li.splide__slide.homepage-banner__contains-item Аккредитованная  лаборатория
                    li.splide__slide.homepage-banner__contains-item Поставки на автозаводы
        .homepage-banner__feedback
            a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-message
                .homepage-banner__feedback-icon: include ../../../../img/svg/ic_dots.svg
                .homepage-banner__feedback-caption Написать<br>нам
            a(href="#").homepage-banner__feedback-item.homepage-banner__feedback-products
                .homepage-banner__feedback-icon: include ../../../../img/svg/ic_product.svg
                .homepage-banner__feedback-caption Подбор<br>продукции
