mixin breadcrumb(data, modify)
  .breadcrumb(class=""+(modify ? modify : '')+"")
    ul.breadcrumb__list
      each item in data
        if item.isActive
          li.breadcrumb__item
            a(href=item.link).breadcrumb__link.breadcrumb__link_active= item.text
        else
          li.breadcrumb__item
            a(href=item.link).breadcrumb__link= item.text