.footer {
    margin-top: auto;

    &-top{
        padding: 32px 0;
        background: var(--color-footer-bg);
    }

    &-bottom{
        padding: 16px 0;
        background: var(--color-footer-bottom-bg);
        font-size: 14px;
        line-height: 20px / 14px * 100%;
        text-align: center;
    }

    &__nav{

        &-link{
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;
            display: block;
        }

        &-item{
            position: relative;
            margin-bottom: 24px;

            &.more{
                .footer__nav-link{
                    color: #fff;
                    font-weight: 700;
                }
            }

            &.has-submenu{


                & > .footer__nav-link{
                    padding-right: 28px;
                }

                &.is-active{

                    .footer__nav-toggle{
                        transform: scaleY(-1);
                    }

                    .footer__nav-submenu{
                        display: block;
                    }
                }

            }

        }

        &-toggle{
            width: 28px;
            height: 28px;
            top: 0;
            right: 0;
            position: absolute;
            transition: all 0.25s ease;
        }

        &-submenu{
            display: none;

            .footer__nav-item{
                margin: 12px 0;

                &:last-child{
                    margin-bottom: 0;
                }

            }

            .footer__nav-link{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: var(--color-text-secondary);
            }

        }

    }

    &__contacts{
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;

        &-caption{
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;
            margin-bottom: 6px;
        }

        &-item{
            display: flex;
            align-items: flex-start;
            margin: 10px 0;
        }

        &-icon{
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-right: 12px;
        }

        &-value{
            font-size: 16px;
            line-height: 150%;
            color: var(--color-text-secondary);

            a{
                display: block;
                color: var(--color-text-secondary);
            }

        }

    }

    &__socials{
        display: flex;
        flex-wrap: wrap;
        margin: -10px -10px 22px;

        &-social{
            width: 32px;
            height: 32px;
            display: block;
            margin: 10px;
        }

    }

    &__subscribe{
        max-width: 320px;

        &-caption{
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 12px;
            color: #fff;
        }
        &-form{
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 99px;
            height: 52px;

            input[type="email"]{
                padding: 14px 0 14px 20px;
                border: none;
                background: none;
                color: #fff;

                &::placeholder{
                    color: rgba(#fff,0.5);
                }
            }

            button{
                border: none;
                background: none;
                padding: 14px;
                height: 52px;
            }

        }
    }

    &__copy{
        color: #fff;
        margin-bottom: 8px;
    }

    &__policy{
        color: var(--color-text-secondary);
    }

    @media screen and (min-width: 641px) {

        &-top{
            padding: 60px 0 45px;
        }

        &__nav{
            margin-bottom: 32px;
        }


        &__nav-list{
            columns: 2;
            column-gap: 56px;
        }


    }

    @media screen and (min-width: 831px) {

        &__nav-list{
            columns: 3;
            column-gap: 28px;
        }

        &__nav{

            &-item{
                overflow: hidden;
            }

            &-submenu{
                display: block;
            }

            &-toggle{
                display: none;
            }
        }

        &__nav-item.has-submenu > .footer__nav-link{
            padding-right: 0;
        }

        &-bottom{
            .container{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        &__copy{
            margin-bottom: 0;
        }

    }

    @media screen and (min-width: 1153px) {

        &-top{
            .container{
                display: flex;
                align-items: flex-start;
            }
        }

        &__nav{
            margin-right: 28px;
            margin-bottom: 0;
        }

        .footer__contacts-item{
            margin: 14px 0;
        }

    }

}

.floating__menu{
    display: none;

    @media screen and (min-width: 1366px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 24px;
        right: 60px;
        z-index: 1;
        opacity: 0;
        transition: all 0.25s ease;
        pointer-events: none;

        &.is-white{
            .floating__menu-caption{
                color: #fff;
            }
        }


        &.is-active{
            opacity: 1;
            pointer-events: all;
        }

        &-icon{
            flex-shrink: 0;
        }

        &-caption{
            font-weight: 700;
            font-size: 14px;
            line-height: 16px / 14px * 100%;
            color: var(--color-text-primary);
            margin-left: 10px;

        }

        &-item{
            display: flex;
            align-items: center;
            margin-top: 24px;

            &:hover .floating__menu-icon{
                svg *[fill="#087BA8"]{
                    fill: var(--color-accent-hover);
                }
            }

        }
    }


}

.scroll-top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: fixed;
    bottom: 24px;
    left: 24px;
    transform: translateY(56px + 24px);
    transition: all 0.25s ease;
    background: #fff;
    cursor: pointer;
    z-index: 2;

    &.is-active{
        transform: translateY(0);
        box-shadow: 0 0 9px rgba(0,0,0, 0.25);
    }
}